.label {
  display: inline-block;
  border-radius: 15px;
  padding: 4px 8px;
  width: 120px;
  text-align: center;
  height: 30px;
}

.connection-connecting .label {
  background-color: orange;
}

.connection-connected .label {
  background-color: green;
}

.connection-closed .label {
  background-color: red;
}

.connection-action {
  text-align: center;
}

.connection-action button {
  width: 120px;
}

.connection-closed button::after {
  content: ' ⚡️';
}

.connection-connected button::after {
  content: ' 🚫';
}