.connection-closed,
.connection-connecting,
.connection-connected {
  display: inline-block;
  border-radius: 15px;
  padding: 4px 8px;
  width: 120px;
  text-align: center;
  height: 30px;
}

.connection-connecting {
  background-color: orange;
}

.connection-connected {
  background-color: green;
}

.connection-closed {
  background-color: red;
}

.connection-action {
  text-align: center;
}

.connection-action button {
  border: 0;
  border-radius: 15px;
  padding: 4px 8px;
  height: 30px;
}